
<html lang="en">
<%- include("./partials/header.ejs")%> 
  <body>
    <div>
      <h1>Login</h1>
      <form action="" method="post">
        <label for="user_email">email</label>
        <input type="email" class="input" id="user_email" name="email_l" placeholder="email">
        <label for="user_password">password</label>
        <input type="password" class="input" id="user_pass" name="password_l" placeholder="password">
        <button type="submit" class="button">Submit</button>
        <% if (typeof error !== 'undefined') { %>
          <div class="err_msq"><%- error %></div>
      
      <% } %>
          <input type="submit" value="Login">
          <div class="link">
            <a href="./signup">sign up</a>
          </div>
      </form>
    </div>
    
    <%- include("./partials/footer.ejs") %> 
  </body>
</html>