
<html lang="en">
<%- include("./partials/header.ejs")%> 
  <body>
      <h1>Login</h1><br><br><br>
      <form action="" method="post">
        <label for="user_email">email
        <input type="email" class="input" id="user_email" name="email_l" placeholder="email"></label><br>
        <label for="user_password">password
        <input type="password" class="input" id="user_pass" name="password_l" placeholder="password"></label><br>
        <button type="submit" class="btn btn-outline-success">Submit</button>
        <% if (typeof error !== 'undefined') { %>
          <div class="err_msq"><%- error %></div>
      
      <% } %>
          <div class="link">
            <a href="/register">sign up</a>
          </div>
      </form>
    
    <%- include("./partials/footer.ejs") %> 
  </body>
</html>