<html lang="en">
<%- include("./partials/header.ejs")%> 
  <body>
    <div class="center-container" >
      <h1>Sign up</h1><br>
      <form action="" method="post">
        <label for="first_name">first name
        <input type="text" class="input" id="first_name" name="first_name"></label><br><br>
        <label for="last_name">last name
        <input type="text" class="input" id="last_name" name="last_name"></label><br><br>
        <label for="middle_name">middle name
        <input type="text" class="input" id="middle_name" name="middle_name"></label><br><br>
        <label for="user_email">email
        <input type="email" class="input" id="user_email" name="email" placeholder="email"></label><br><br>
        <label for="user_password">password
        <input type="password" class="input" id="user_pass" name="password" placeholder="password"></label><br>
        <button class="btn btn-outline-success" type="submit">Submit</button>
        <% if(typeof error !== 'undefined'){%>
          <div class="err_msq"><%- error -%></div><%}%>
        <div class="link">
          <a href="./login">login</a>
          <a href="/logout">logout</a>
        </div>
      </form>
    </div>
    
    <%- include("./partials/footer.ejs") %> 
  </body>
</html>