<html lang="en">
<%- include("./partials/header.ejs")%> 

<body>
    <form action="" method="post">
        <div  class="container">
          <div class="profile">
            <div class="img"></div>
            <h1>List of requests on vacations</h1>
          </div>
        </div>
      </form>
<%- include("./partials/footer.ejs") %> 
</body>
</html>