 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
      background-image: url('../public/surfer-on-body-of-water-near-sea-cliff-during-dayt-1920x1080.jpg');
      background-size: cover;
      background-position: center;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    
    /* index styles */

    /* details styles */

    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }

    .btn-bd-primary {
      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
      --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
      --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
    }

    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* This ensures the container takes the full height of the viewport */
    }

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile label,
    .profile input,
    .profile select {
      margin: 19px 0; /* Add spacing between form elements */
    }

    html,body {
      height:100%;
      width:100%;
      margin:0;
    }
    body {
      display:flex;
    }
    form {
      margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
    }

    .footer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .footer form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    /* Style inputs */
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #45a049;
  }

